@using BTL_TTNhom.Models;
@model List<CartItem>
@{
    ViewBag.Title = "Giỏ hàng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/css/giohang.css" rel="stylesheet" />
<script src="~/Scripts/js/cartController.js"></script>
<section class="section-2">
    <div class="container" style="background-color: white; padding-bottom: 20px;">
        <div class="row" style="padding-top: 20px;">
            <div class="col-lg-12">
                <h1>
                    <span>Giỏ hàng của bạn</span>
                </h1>
                @if (Model.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <td>Mã sản phẩm</td>
                                <td>Tên sản phẩm</td>
                                <td>Ảnh sản phẩm</td>
                                <td>Số lượng</td>
                                <td>Đơn giá</td>
                                <td>Thành tiền</td>
                                <td></td>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.SACH.MASACH</td>
                                    <td>@item.SACH.TENSACH</td>
                                    <td><img src="~/@item.SACH.ANHBIA" style="width:50px; height:60px;" /></td>
                                    <td><input type="text" class="txtQuantity" data-id="@item.SACH.MASACH" value="@item.Quantity" style="width:50px;" /></td>
                                    <td>@item.SACH.GIABAN.GetValueOrDefault(0).ToString("N0")</td>
                                    <td>@((item.SACH.GIABAN.GetValueOrDefault(0) * item.Quantity).ToString("N0"))</td>

                                    <td><a href="#" data-id="@item.SACH.MASACH" class="btn-delete">Xoá</a></td>
                                </tr>
                            }                           
                            @*<tr>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>Tổng tiền: @ViewBag.TongTien</td>
                            </tr>*@
                        </tbody>
                    </table>

                    <button id="btnContinue" class="btn btn-primary">Tiếp tục mua hàng</button>
                    <button id="btnUpdate" class="btn btn-primary">Cập nhật giỏ hàng</button>
                    <button id="btnDeleteAll" class="btn btn-primary">Xoá giỏ hàng</button>                 
                    <a href="@Url.Action("Payment")">
                        <input type="button" class="btn btn-primary" value="Thanh toán"/>
                    </a>
                    
                }
                else
                {
                    <span style="font-weight: bold;">Chưa có sản phẩm nào trong giỏ hàng</span>
                }
            </div>
        </div>
    </div>
</section>

@Html.Action("PartialSachHot","Sach")
